footer.footer
  .container#footer
    .footer__info
      a(href="#") #[img(src="@img/icons/logo.svg", alt="logo")]
      p.footer__info-text Wanderlust meets wander well – Experience seamless travel with our services.
    .footer__nav
      ul.footer__nav-col
        li #[a(href="#!").nav-title Company]
        li #[a(href="#!").nav-item About Us]
        li #[a(href="#!").nav-item Blog]
        li #[a(href="#!").nav-item Customers]
        li #[a(href="#!").nav-item Packages]
        li #[a(href="#!").nav-item Community]
      ul.footer__nav-col
        li #[a(href="#!").nav-title Help]
        li #[a(href="#!").nav-item Support]
        li #[a(href="#!").nav-item FAQs]
        li #[a(href="#!").nav-item Refund Policy]
