//- .<icon>
//-   width: 3rem
//-   height: 3rem
//-   &__<icon>
//-     fill: #f0f0f0

mixin svg-icon(icon)
  svg(class=attributes.class)
    use(href="@img/icons/icons.svg#".concat(icon) class="icon__".concat(icon))

mixin slider-card(slide)
  .card
    img(src="@img/popular/" + slide.image, alt="slide").card__image
    .card__header
      h3.card__header-title= slide.location
      span.card__rating (#{slide.rating})
    p.text-p1 Starts from <span>#{slide.price}</span>