//- .<icon>
//-   width: 3rem
//-   height: 3rem
//-   &__<icon>
//-     fill: #f0f0f0

mixin svg-icon(icon)
  svg(class=attributes.class)
    use(href="@img/icons/icons.svg#".concat(icon) class="icon__".concat(icon))
