.mobile-nav
  ul.mobile-nav__list
    li #[a.active(href="./index.html") Home]
    li #[a(href="#!") Services]
    li #[a(href="./about.html") About]
    li #[a(href="#!") Projects]
    li #[a(href="#!") Contacts]