-
  const logos = [
    "traveloka.svg",
    "airbnb.svg",
    "expedia.svg",
    "skyscanner.svg",
    "american-airlines.svg",
  ];

  const populars = [
    {
      image: "venice.jpg",
      location: "Venice, Italy",
      rating: "4.5",
      price: 900,
    },
    {
      image: "bali.jpg",
      location: "Bali, Indonesia",
      rating: "4.5",
      price: 480,
    },
    {
      image: "bangkok.jpg",
      location: "Bangkok, Thailand",
      rating: "4.5",
      price: 440,
    },
    {
      image: "santorini.jpg",
      location: "Santorini, Greek",
      rating: "4.5",
      price: 900,
    },
    {
      image: "paris.jpg",
      location: "Paris, France",
      rating: "4.5",
      price: 1800,
    },
    {
      image: "new-york.jpg",
      location: "New York, USA",
      rating: "4.5",
      price: 1800,
    },
    {
      image: "dubai.jpg",
      location: "Dubai, UAE",
      rating: "4.5",
      price: 900,
    },
  ];
