include ../includes/_head

block title
  title About Page

include ../includes/_header

.container
  center
    h1.title About
    img(src="@img/child.jpg", width="200", alt="img")

include ../includes/_footer
