html,
body
  font-family: var(--font-main)
  font-size: 10px
  line-height: 1.6
  // for fonts rendering
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: greyscale

html
  scroll-behavior: smooth

body
  min-height: 100rem
  font-family: var(--font-main)
  font-size: 1.6rem
  color: var(--text-color)
  background: var(--page-bg)

.title-h1
  color: var(--text-color)
  font-size: 7.2rem
  font-weight: 700
  line-height: normal

.text-p
  color: var(--text-color-grey)
  font-size: 1.8rem
  font-weight: 450
  line-height: 1.5
